<a class="btn-floating"><i class="material-icons" {{action tableActions.edit row}}>edit</i></a>
<a class="btn-floating red"><i class="material-icons" {{action tableActions.delete row}} >delete</i></a>
