<a class="btn-floating"><i class="material-icons" {{action 'editDistribuido' existencia.producto}}>edit</i></a>
<a class="btn-floating red"><i class="material-icons" {{action 'delete' existencia}} >delete</i></a>
