<div class="col s12 l4">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active" {{action 'map' 'villita' on='click'}}><i class="material-icons">store_mall_directory</i>La Villita</div>
          <div class="collapsible-body"><span><i class="material-icons">place</i>Av Benito Juárez 804, Centro, 42000 Pachuca de Soto, Hgo.<br><i class="material-icons">local_phone</i>771 713 2511<br><i class="material-icons">watch_later</i>06:30-22:30</span></div>
        </li>
        <li>
          <div class="collapsible-header" {{action 'map' "sanjavier" on='click'}}><i class="material-icons">store_mall_directory</i>San Javier</div>
          <div class="collapsible-body"><span><i class="material-icons">place</i>Blvd. Valle de San Javier 504, Valle de San Javier, 42086 Pachuca de Soto, Hgo.<br><i class="material-icons">local_phone</i>771 714 7870<br><i class="material-icons">watch_later</i>06:30-22:30</span></div>
        </li>
      </ul>

  </div>
  <div class="col s12 l8">
    <p id="map"></p>
  </div>