<nav class="nav-extended">
    <div class="nav-content  brown lighten-1">
      <ul class="tabs tabs-transparent">
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                En
            {{/link-to}}
        </li>
        <li class="tab">
            <a href="#test1">Fe</a>
        </li>
        <li class="tab">
            <a href="#test1">Mz</a>
        </li>
        <li class="tab">
            <a href="#test1">Ab</a>
        </li>
        <li class="tab">
            <a href="#test1">My</a>
        </li>
        <li class="tab">
            <a href="#test1">Jn</a>
        </li>
        <li class="tab">
            <a href="#test1">Jl</a>
        </li>
        <li class="tab">
            <a href="#test1">Ag</a>
        </li>
        <li class="tab">
            <a href="#test1">St</a>
        </li>
        <li class="tab">
            <a href="#test1">Oc</a>
        </li>
        <li class="tab">
            <a href="#test1">Nv</a>
        </li>
        <li class="tab">
            <a href="#test1">Dc</a>
        </li>
      </ul>
    </div>
  </nav>

