{{#m-wrapper query=".dropdown-button" method="dropdown"}}
    <a class='dropdown-button btn brown lighten-1' href='#' data-activates='dropdown1'>Año</a>

    <ul id="dropdown1" class="dropdown-content">
    <li>
        {{#link-to 'admin.historial-reparto' (query-params year=2018)}} 
                2018
        {{/link-to}}
    </li>
    <li class="divider"></li>
    <li>
        {{#link-to 'admin.historial-reparto' (query-params year=2019)}} 
                2019
        {{/link-to}}
    </li>
    <li class="divider"></li>
    <li>
        {{#link-to 'admin.historial-reparto' (query-params year=2020)}} 
                2020
        {{/link-to}}
    </li>
    </ul>
{{/m-wrapper}}
<style type="text/css">
.tab a.active {
    font-weight: bold;
    color: black!important;
}
</style>

<nav style="overflow:hidden; height:96px">
    <div class="nav-content brown lighten-1 row"  style="margin-bottom:0">
      <div class="col s2">


      <ul class="tabs tabs-transparent">
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month=-1 day=null)}} 
                TODOS
            {{/link-to}}
        </li>
      </ul>
      </div>
      <div class="col s10">
      <ul class="tabs tabs-transparent">
        <div style="overflow-x: scroll; width: 900px;">        
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='1') }}
                Ene
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='2') }}
                Feb
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='3') }}
                Mar
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='4') }}
                Abr
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='5') }}
                May
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='6') }}
                Jun
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='7') }}
                Jul
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='8') }}
                Ago
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='9') }}
                Sep
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='10') }}
                Oct
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='11') }}
                Nov
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto' (query-params month='12') }}
                Dic
            {{/link-to}}
        </li>
        </div>
      </ul>
      </div>
    </div>
    {{#if (and month (not (eq month '-1')))}}
        <div class=" brown lighten-1 row" style="overflow-x: scroll;">

          <div class="col s2">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    {{#link-to 'admin.historial-reparto' (query-params day=-1)}} 
                        Mes
                    {{/link-to}}
                </li>
            </ul>
          </div>
          <div class="col s10">

          
            <ul class="tabs tabs-transparent">
                <div style="width:1950px; overflow-x:scroll">
                {{#each daysInMonth as |day|}}
                    <li class="tab">
                        {{#link-to 'admin.historial-reparto' (query-params day=day)}} 
                            {{day}}
                        {{/link-to}}
                    </li>
                {{/each}}
                </div>
            </ul>
            </div>
        </div>
    {{/if}}





  </nav>

