<nav class="nav-extended">
    <div class="nav-content  brown lighten-1">
      <ul class="tabs tabs-transparent">
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                En
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Fe
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Mz
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Ab
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                My
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Jn
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Jl
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Ag
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                St
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Oc
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Nv
            {{/link-to}}
        </li>
        <li class="tab">
            {{#link-to 'admin.historial-reparto'}} 
                Dc
            {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>

