<div id="register" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Registrarse</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="name" type="text" class="validate">
          <label for="name">Nombre</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="user" type="text" class="validate">
          <label for="user">Nombre de Usuario</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
        <i class="material-icons prefix">people</i>
          <select>
            <option value="" disabled selected>Elige Opción</option>
            <option value="1">Empresa</option>
            <option value="2">Sucursal</option>
            <option value="3">Repartidor</option>
            <option value="4">Cliente</option>
            <option value="5">Otro</option>
          </select>
    <label>Soy:</label>
  </div>
        <a class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>Registrarse</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>