<div id="pagar" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Pagar</h4>
    <div class="row">
      <h5 class="center-align">Selecciona tu metodo de pago:</h5>
      <form action="#">
        <p>
          <input class="with-gap" name="pago" type="radio" id="paypal" checked />
          <label for="paypal">Paypal</label>
        </p>
        <p>
          <input class="with-gap" name="pago" type="radio" id="card" />
          <label for="card">Tarjeta Debito/Credito</label>
        </p>
        <p>
          <input class="with-gap" name="pago" type="radio" id="oxxo"  />
          <label for="oxxo">Oxxo</label>
        </p>
      </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
  </div>
</div>
