<div id="login" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Iniciar Sesión</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="user" type="text" class="validate">
          <label for="user">Usuario</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <a class="waves-effect waves-light btn red right"><i class="material-icons right">done</i>Entrar</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>