<style type="text/css">
	body {
		background: url(https://images.unsplash.com/photo-1413745000559-46fdd2d81cd7?auto=format&fit=crop&w=1334&q=80) no-repeat fixed;
	}

 	.img{
 	max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
 	}

 	.img:hover{
 		-moz-transform: scale(1.1);
  		-webkit-transform: scale(1.1);
  		transform: scale(1.1);
 	}

 	input{
	width: 20% !important;
	}

	button{
		border-radius: 20px;
		height: 25px;
		margin-right: 2%;
		margin-left: 2%;
	}

	.products{
		max-height: 550px;
		overflow-y: scroll;
	}

	.redondo{
		margin-top: -20px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border-right: 2px solid white;
		border-left: 2px solid white;
		border-bottom: 2px solid white;
		background: #FFF;
	}

	h6{
		padding: 10px 10px 10px 10px;
	}

	.waves-effect{
		margin-top: 2%;
	}
</style>

 <div class="row" style="margin-top: 4%;">
 	<div class="col s12 m7">
 		<div class="row">
    {{#link-to "vendedor.venta" myModel.id}}
    <div class="col s12 m5 img" style="margin-left: 3%;">
     	<div class="card">
            <div class="card-image">
              <img src="../media/vender.jpg" width="100%">
              <span class="card-title">Nueva Venta</span>
            </div>
        </div>
    </div>{{/link-to}}
    {{#link-to "vendedor.index"}}
    <div class="col s12 m5 img">
     	<div class="card">
            <div class="card-image">
              <img src="../media/pan-panel.jpg">
              <span class="card-title">Acceso Directo</span>
            </div>
        </div>
    </div>{{/link-to}}
    {{#link-to "vendedor.index"}}
    <div class="col s12 m5 img" style="margin-left: 3%;">
     	<div class="card">
            <div class="card-image">
              <img src="../media/pan-panel.jpg" width="100%">
              <span class="card-title">Acceso Directo</span>
            </div>
        </div>
    </div>
    {{/link-to}}
    {{#link-to "vendedor.index"}}
    <div class="col s12 m5 img">
     	<div class="card">
            <div class="card-image">
              <img src="../media/pan-panel.jpg" width="100%">
              <span class="card-title">Acceso Directo</span>
            </div>
        </div>
    </div>{{/link-to}}
   
</div>

   </div>
   <div class="col s12 m5">
   	<div class="card products">
		<table class="centered sripped">
			<thead>
				<tr>
				    <th>Cantidad</th>
				    <th>Producto</th>
				    <th>Accion</th>
				</tr>
			</thead>
			<tbody>
				{{#each producto as |venta|}}
				    <tr>
				        <td>{{number-input}}</td>
				        <td>{{venta.nombre}}</td>
				        <td><a class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a></td>
				    </tr>
				    {{else}}Ningún producto agregado
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="redondo">
		<h6 class="center-align">Total: $</h6>
	</div>
	<a class="waves-effect waves-light btn right"><i class="material-icons left">save</i>Vender</a>
   </div>
</div>