<style>
.main {
	margin-top: 3%;
}

input{
	width: 20% !important;
}

</style>

<div class="row main">
	<div class="col s12">
		<div class="row">
			<div class="col s12 m3">
				<div class="card center-align">
					<div class="collection">
				        <a class="collection-item">Pan Sal</a>
				        <a class="collection-item">Pan Dulce</a>
				        <a class="collection-item">Pasteles</a>
				        <a class="collection-item">Charcuteria</a>
				        <a class="collection-item">Feité</a>
				        <a class="collection-item">Panqué</a>
				        <a class="collection-item">Galletas</a>
				        <a class="collection-item">Bocadillos</a>
				        <a class="collection-item">Lacteos</a>
				     </div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="card center-align">
					{{log productList}}
					<div class="collection">

				        {{#each productList.productos as |producto|}}
						lel
				        	{{else}}No hay productos en stock.
				        {{/each}}
				     </div>
				</div>
			</div>
			<div class="col s12 m5">
				{{teclado-numeric}}

			</div>
		</div>
	</div>
</div>

{{#link-to "vendedor.procesando-venta" venta_id}} Ir a venta{{/link-to}}