{{outlet}}
<style>
	.main{
		margin-top: 3%;
	}

	body {
		background: url(https://images.unsplash.com/photo-1413745000559-46fdd2d81cd7?auto=format&fit=crop&w=1334&q=80);
	}

	.der{
		margin-right: 20%;
	}
</style>
<div class="row main">
	{{#link-to "admin.nvo-produccion" class="waves-effect waves-light btn right der"}}<i class="material-icons left">add</i>Agregar Nueva Producccion{{/link-to}}
	<div class="col s8 offset-s2">
		<div class="card">
			<table class="centered">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Area</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Asasas</td>
						<td>151</td>
						<td><a class="btn-floating"><i class="material-icons">visibility</i></a>
						<a class="btn-floating"><i class="material-icons">delete</i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>