{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.inventario' class='breadcrumb' }}Inventario{{/link-to}}
{{/ember-wormhole}}

<style>
	.main{
		margin-top: 3%;
	}

	body {
		background: url(../media/villita_bg.jpeg);
		background-repeat: no-repeat;
  		background-size: 100% 100%;
  		height: 100vh;
  		margin: 3px auto 0;
  		position: relative;
	}
</style>

<div class="row main">
	<div class="col s8 offset-s2">
		<div class="card">
			<table class="centered">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Cantidad</th>
						<th>Minimo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>edfiuef</td>
						<td>64514</td>
						<td>15</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
