
<style>
	.main{
		margin-top: 3%;
	}

	body {
		background: url(../media/villita_bg.jpeg);
		background-repeat: no-repeat;
  		background-size: 100% 100%;
  		height: 100vh;
  		margin: 3px auto 0;
  		position: relative;
	}

	.der{
		margin-right: 20%;
	}
</style>
<div class="row main">
	{{#link-to "admin.nvo-receta" class="waves-effect waves-light btn right der"}}<i class="material-icons left">add</i>Agregar Nueva Receta{{/link-to}}
	<div class="col s8 offset-s2">
		<div class="card">
			<table class="centered">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Minimo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{{#each model as |existencia|}}
						<tr>
							<td>{{existencia.producto.nombre}}</td>
							<td>{{existencia.limite}}</td>
							<td><a class="btn-floating"><i class="material-icons">edit</i></a>
							<a class="btn-floating"><i class="material-icons">delete</i></a></td>
						</tr>

					{{/each}}

				</tbody>
			</table>
		</div>
	</div>
</div>
