{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.personal' class='breadcrumb' }}Control de Personal{{/link-to}}
{{/ember-wormhole}}

<style type="text/css">
	body {
		background: url(../media/villita_bg.jpeg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100vh;
      margin: 3px auto 0;
      position: relative;
	}

 	.img{
 	max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
 	}

 	.img:hover{
 		-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
 	}
 </style>
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">Turno: {{turno}}
        </span>
      </div>
    </div>
  </div>
 <div class="row" style="margin-top: 15%;">
    <div class="col s8 offset-s2">
    	{{#link-to "admin.lista-personal"}}
		    <div class="col s12 m5 img" style="margin-left: 3%;">
		     	<div class="card">
		            <div class="card-image">
		              <img src="https://images.unsplash.com/photo-1521710338287-b65ff0a96e4a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2526bd0cb7dbf1f703d29c6dd0773e7b&auto=format&fit=crop&w=1350&q=80" width="100%">
		              <span class="card-title">Lista de Personal  </span>
		            </div>
		        </div>
		    </div>
        {{/link-to}}

        {{#unless listaExists}}
          {{#link-to "admin.nvo-paselista" (query-params turno=turno)}}
            <div class="col s12 m5 offset-m1 img">
              <div class="card">
                    <div class="card-image">
                      <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=612621fd686897b4812287430c8be9db&auto=format&fit=crop&w=1052&q=80g">
                      <span class="card-title">Crear Pase de Lista</span>
                    </div>
                </div>
            </div>
          {{/link-to}}
        {{else}}
          {{#link-to "admin.edit-paselista" currentList.id}}
            <div class="col s12 m5 offset-m1 img">
              <div class="card">
                    <div class="card-image">
                      <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=612621fd686897b4812287430c8be9db&auto=format&fit=crop&w=1052&q=80">
                      <span class="card-title">Acceder al Pase de Lista</span>
                    </div>
                </div>
            </div>
          {{/link-to}}
        {{/unless}}
    </div>
</div>
