{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.productos' class='breadcrumb' }}Productos{{/link-to}}
{{/ember-wormhole}}

<style>
	.row {
		margin-top: 3%;
	}

  body {
    background: url(https://images.unsplash.com/photo-1413745000559-46fdd2d81cd7?auto=format&fit=crop&w=1334&q=80);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100vh;
      margin: 3px auto 0;
      position: relative;
  }

  .izq{
    margin-left: 3%;
  }

  .der{
    margin-right: 3%;
  }

  .spc{
    padding-right: 3% !important;
    padding-left: 3% !important;
  }

</style>

<div class="row">
  <div class="col s12">
  	{{#link-to "admin.nvo-receta" class="waves-effect waves-light btn left izq"}}<i class="material-icons left">add</i>Agregar Nueva Receta{{/link-to}}
    {{#link-to "admin.nvo-distribuido" class="waves-effect waves-light btn right der"}}<i class="material-icons left">add</i>Agregar Nuevo Distribuido{{/link-to}}
  </div>
  <div class="col s6 spc">
    <div class="card">
      {{dt-light
        height=height
        columns=columnsReceta
        model=model.recetas
        sort=sortR
        performDelete=(action 'delete')
        performEdit=(action 'editReceta')
        deleteMessage=deleteMessage
      }}
    </div>
  </div>
    <div class="col s6 spc">
    <div class="card">
      {{dt-light
        height=height
        columns=columnsDistrib
        model=model.distribuidos
        sort=sortD
        performDelete=(action 'delete')
        performEdit=(action 'editDistribuido')
        deleteMessage=deleteMessage
      }}
    </div>
  </div>
</div>
