{{#ember-wormhole to='admin-nav' }}
  {{#link-to 'admin.productos' class='breadcrumb' }}Productos{{/link-to}}
{{/ember-wormhole}}

<style>
	.row {
		margin-top: 3%;
	}
</style>

<div class="row">

</div>