<style type="text/css">
</style>
{{#m-wrapper query=".button-collapse" method="sideNav" options='"show'}}
<ul id="slide-out" class="side-nav">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
{{/m-wrapper}}
<div class="row">
</div>