<nav style="padding-left: 10px" class="teal brown lighten-1">
    <div class="nav-wrapper ">
      <div class="col s12" id="admin-nav">
        {{#link-to 'admin' class='breadcrumb'}}Admin{{/link-to}} 
      </div>
    </div>
</nav>
{{outlet}}
