{{#m-wrapper query="select" method="material_select"}}
  <div class="input-field col s12">

  <i class="material-icons prefix">people</i>

    <select>

      <option value="" disabled selected>Elige Opción</option>
      <option >Empresa</option>
      <option >Sucursal</option>
      <option >Repartidor</option>
      <option >Cliente</option>
      <option >Otro</option>
    </select>

  <label>Soy:</label>
  </div>
{{/m-wrapper}}